.navigation-container {
    margin-left: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.navigation-container a {
    text-decoration: none;
    color: hsla(0, 0%, 0%, 60%);
}

.navigation-container a:hover {
    color: hsla(0, 0%, 0%, 70%);
}