.more-options-button[b-87zxpn94n0] {
    background: none;
    border: none;
    color: var(--text-muted);
    cursor: pointer;
    padding: 6px;
    font-size: 1.1rem;
    transition: color 0.2s, background-color 0.2s;
    z-index: 10;
}

.more-options-button:hover[b-87zxpn94n0] {
    background-color: #f3f4f6;
    color: #000;
    border-radius: 6px;
}