.navigation-container[b-uv2ca296yz] {
    margin-left: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.navigation-container a[b-uv2ca296yz] {
    text-decoration: none;
    color: hsla(0, 0%, 0%, 60%);
}

.navigation-container a:hover[b-uv2ca296yz] {
    color: hsla(0, 0%, 0%, 70%);
}