@using System.Security.Permissions

@{
    ViewData["Title"] = "Project Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var projectId = ViewBag.ProjectID;
    var projectLabel = projectId != null ? $"Project {projectId}" : "Project";
    var breadcrumbs = new[] { ("/projects", "Projects"), ($"/projects/{projectId}", projectLabel), };
}

@section Navigation {
    @await Component.InvokeAsync("Navigation")
}

@* This section renders into the RenderBody() call in _Layout.cshtml *@
<partial name="~/Views/PartialViews/Breadcrumbs.cshtml" model="@breadcrumbs" />
<div class="main-dashboard">
    <div class="left-section">
        <partial name="~/Views/PartialViews/ProjectTasks/ProjectSummary.cshtml" />
        <div class="divider"></div>
        <button class="progress-log-button"> Generate Progress Log Report</button>
    </div>
    <partial name="~/Views/PartialViews/ProjectTasks/TaskList.cshtml" />
    <partial name="~/Views/PartialViews/ReminderList.cshtml" />
</div>