@using System.Security.Permissions

@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var breadcrumbs = new[] { ("/projects", "Projects") };
}

@section Navigation {
    @await Component.InvokeAsync("Navigation")
}


@* This section renders into the RenderBody() call in _Layout.cshtml *@
<partial name="~/Views/PartialViews/Breadcrumbs.cshtml" model="@breadcrumbs" />
<div class="main-dashboard">
    <partial name="~/Views/PartialViews/Projects/ProjectList.cshtml" />
    <partial name="~/Views/PartialViews/ReminderList.cshtml" />
</div>