services:
  postgres:
    image: postgres:latest
    container_name: postgres_db_pms
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password1234
      - POSTGRES_DB=pms
    ports:
      - "5431:5432"
    volumes:
      - postgres-data-pms:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U root -d postgres" ]
      interval: 5s
      timeout: 2s
      retries: 20 # Arbitrary numbers for interval, timeout, retries

  dotnet-server:
    build:
      context: ./server
      target: development
    container_name: dotnet_server
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=password1234
      - POSTGRES_DB=pms
      - POSTGRES_HOST=postgres
      - ASPNETCORE_URLS=http://+:5081 # Tell .NET Host to listen to all network interfaces (0.0.0.0) outside the container
      - MAIL_ACCOUNT=prashant.jatoo@umail.uom.ac.mu
      - MAIL_PASSWORD=wwuwkunxqhgfcxvb
      - JWT_SECRET_KEY=dPxKLDJnXNcd/m1mSf5IKBDpe98RNFHSu72izm9FQOs= # Generated using openssl rand -base64 32
      - GOOGLE_API_KEY=AIzaSyDztbV8PPRLzplGAb03YO57m05dpvPNW8I
    depends_on:
      postgres:
        condition: service_healthy
    develop:
      watch:
        - action: sync
          path: ./server/src
          target: /app/src
          initial_sync: true
    ports:
      - "5081:5081"
    
  react:
    build:
      context: ./client
      target: development
    container_name: react_pms
    depends_on:
      - dotnet-server
    develop:
      watch:
        - action: sync
          path: ./client/src
          target: /app/src
          initial_sync: true
    ports:
      - "3000:3000"

  # postgres-test:
  #   profiles:
  #     - test
  #   image: postgres:latest
  #   container_name: postgres_pms_test
  #   environment:
  #     - POSTGRES_USER=root
  #     - POSTGRES_PASSWORD=password1234
  #     - POSTGRES_DB=pms-test
  #     - JWT_SECRET_KEY=dPxKLDJnXNcd/m1mSf5IKBDpe98RNFHSu72izm9FQOs= # Generated using openssl rand -base64 32
  #   ports:
  #     - "5431:5432"
  #   healthcheck:
  #     test: [ "CMD-SHELL", "pg_isready -U root -d postgres" ]
  #     interval: 5s
  #     timeout: 2s
  #     retries: 20 # Arbitrary numbers for interval, timeout, retries

volumes:
  postgres-data-pms:
